<footer style="padding: 0 0; font-size:1rem; margin-top: -20px; margin-bottom: -20px;">
    <!-- <link rel="icon" type="image/x-icon" href="../assets/images/dl.png"> -->
  <div class="wrapper">
    <div>
      <a href="{{ site.baseurl }}/attribution">Attribution</a>
    </div>
    <div style="position: absolute; bottom: 4px; right: 8px; font-size: 0.65rem; color: rgba(255, 255, 255, 0.8); background: rgba(0, 0, 0, 0.5); padding: 2px 4px; border-radius: 3px;">
      Photo of Lisbon by <a href="https://unsplash.com/photos/a-view-of-a-city-from-a-high-point-of-view-alj8EUjeIj4" target="_blank">João Reguengos</a>
      
    </div>
  </div>
</footer>
